$square-width: 40px;
$board-width: 8 * $square-width + 16px;

body {
  position: relative;
}

.flash {
  position: absolute;
  left: 40%;
  top: 0;
  .message {
    background-color: red;
    padding: 10px;
  }
}

#gameboard {
  width: $board-width;
  height: $board-width;
  border: 1px dashed black;
  
  span {
    width: $square-width;
    height: $square-width;
    border: 1px dashed black;
    display: inline-block;
    color: white;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    
    &.clicked {
      background: gray;
      color: black;
      &:hover {
        cursor: default;
      }
      .mark_square {
        display: none;
      }
    }
    
    .unmark_square {
      display: none;
    }
    
    &.marked {
      background: yellow;
      color: yellow;
      &:hover {
        cursor: default;
      }
      .mark_square {
        display: none;
      }
      .unmark_square {
        display: block;
      }
    }
    
    .controls {
      position: absolute;
      top: 0;
      left: $square-width;
      display: none;
      
      div {
        padding: 4px;
        background-color: yellow;
      }
      div:hover {
        background-color: brown;
      }
    }
    
    &:hover .controls {
      z-index: 100;
      display: block;
    }
    
    &.cleared:hover .controls {
      display: none;
    }
  }
  
  &.boom {
    background: red;

    span {
      &.mine {
        background-color: orange;
      }
      &:hover .controls {
        display: none;
      }
    }
  }
}

#template {
  display: none;
}

#boom {
  font-size: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}