$square-width: 60px;
$board-width: 8 * $square-width + 8 * 2 * 4px;

body {
  position: relative;
}

.flash {
  position: absolute;
  left: 40%;
  top: 0;
  .message {
    background-color: red;
    padding: 10px;
  }
}

.controls > div {
  display: inline;
  padding: 0;

  a {
    text-indent: -999px;
    display: inline-block;
    background-size: 25px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
}

.clear_adjacent a {
  background-image: url('/assets/blowup.png');
}
.mark_square a {
  background-image: url('/assets/bomb.png');
}
.unmark_square a {
  background-image: url('/assets/nobomb.png');
}

#gameboard {
  width: $board-width;
  height: $board-width;
  border: 4px solid black;
  
  span {
    width: $square-width;
    height: $square-width;
    border: 4px solid black;
    display: inline-block;
    color: white;
    position: relative;
    vertical-align: bottom;
    
    .content {
      font-size: 24pt;
      text-indent: 12px;
      opacity: 0.5;
    }
    
    &:hover {
      cursor: pointer;
    }
    
    &.clicked {
      background: gray;
      color: black;
      &:hover {
        cursor: default;
      }
      .mark_square {
        display: none;
      }
    }
    
    .unmark_square {
      display: none;
    }
    
    &.marked {
      background: yellow;
      color: yellow;
      &:hover {
        cursor: default;
      }
      .clear_adjacent {
        display: none;
      }
      .mark_square {
        display: none;
      }
      .unmark_square {
        display: inline-block;
      }
    }
    
    .controls {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100px;
      
      div:hover a {
        background-color: grey;
      }
    }
    
    &:hover .controls {
      z-index: 100;
      display: block;
    }
    
    &.cleared:hover .controls {
      display: none;
    }
  }
  
  &.boom {
    background: red;

    span {
      &.mine {
        background-color: orange;
      }
      &:hover .controls {
        display: none;
      }
    }
  }
}


#game_controls {
   a {
    opacity: 0.1;
    width: 50px;
    height: 50px;
    background-size: 50px;
    border-width: 5px;
    border-radius: 14px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    text-indent: -999px;
  }
  
  &:hover a {
    opacity: 1;
  }
}

#new_game {
  background-image: url('/assets/media-play.png');
}

#save_game {
  background-image: url('/assets/media-pause.png');
}

#load_game {
  background-image: url('/assets/media-repeat-alt.png');
}

#template {
  display: none;
}

#boom {
  font-size: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}