
@mixin board-dimensions($size, $square-width, $border-width, $font-size) {
  $control-size: $square-width / 2.5;
  $board-width: $size * $square-width + $size * 2 * $border-width;
  width: $board-width;
  height: $board-width;
  .controls {
    height: $control-size;
    a {
      background-size: $control-size;
      width: $control-size;
      height: $control-size;
    } 
  }
  span {
    width: $square-width;
    height: $square-width;
    border: $border-width solid black;
    .content {
      font-size: $font-size;
      opacity: 0.8;
    }
  }
}

@mixin happy-font {
  font-size: 50pt;
  font-family: 'VT323', cursive;
}

body {
  padding-top: 50px;
  padding-left: 80px;
}

.flash {
  position: absolute;
  left: 0%;
  @include happy-font;
  top: 0;
  .message {
    background-color: red;
    padding: 10px;
    border-radius: 22px;
  }
}

#gameboard {
  &.size8 {
    @include board-dimensions(8, 60px, 4px, 24pt);
  }
  &.size16 {
    @include board-dimensions(16, 45px, 2px, 16pt);
  }
  &.size22 {
    @include board-dimensions(22, 40px, 1px, 14pt);
  }
}

.controls {

  div {
    display: inline;
    padding: 0;
  }
  a {
    text-indent: -999px;
    display: inline-block;
    background-repeat: no-repeat;
  }
}

#gameboard {
  border: 4px solid black;
  
  span {
    display: inline-block;
    color: white;
    vertical-align: bottom;
    z-index: 0;
    
    &:hover {
      cursor: pointer;
    }
    
    &.clicked {
      background: gray;
      color: black;
      &:hover {
        cursor: default;
      }
      .mark_square {
        display: none;
      }
    }
    
    .unmark_square {
      display: none;
    }
    
    &.marked {
      background: yellow;
      color: yellow;
      &:hover {
        cursor: default;
      }
      .clear_adjacent {
        display: none;
      }
      .mark_square {
        display: none;
      }
      .unmark_square {
        display: inline-block;
      }
    }
    
    .controls {
      width: 100px;
      
      a {
        display: none;
      }
      
      .fun {
        display: none;
        position: absolute;
        height: 300px;
        width: 300px;
        background-size: 300px;
        background-repeat: no-repeat;
        z-index: -100;
        top: 80px;
        left: 700px;
      }
      
      div:hover .fun {
        display: block;
        opacity: 0.2;
      }
    }
    
    &:hover .controls a {
      z-index: 100;
      display: inline-block;
    }
    
    &.cleared:hover .controls a {
      display: none;
    }
  }
  
  &.boom {
    background: red;

    span {
      &.mine {
        background-color: orange;
      }
      &:hover .controls a {
        display: none;
      }
    }
  }
}


#nav {
  height: 80px;
  ul {
    display: block;
    list-style-type: none;
    &.nav > li {
      float: left;
    }
    
    li {
      ul.subnav {
        padding-left: 0;
        position: absolute;
        display: none;
        li {
          padding-left: 0;
          float: left;
        }
      }
      
      &:hover ul {
        display: block;
      }
    }
  }
  
}

#game_controls {
   a {
    opacity: 0.3;
    color: black;
    width: 50px;
    height: 50px;
    background-size: 50px;
    border-width: 5px;
    border-radius: 14px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    text-decoration: none;
    position: relative;
    @include happy-font;
    line-height: 42px;
  }
  &:hover * {
    opacity: 1;
  }
}

#clock a {
  width: 144px;
}

a#mine_count {
  width: 60px;
}

#new_game {
  background-image: asset-url('media-play.png');
}

#new_game_easy {
  background-image: asset-url('easy.jpg');
}

#new_game_medium {
  background-image: asset-url('medium.jpg');
}

#new_game_hard {
  background-image: asset-url('hard.jpg');
}

#validate {
  background-image: asset-url('smiley.png');
}

#save_game {
  background-image: asset-url('media-pause.png');
}

#load_game {
  background-image: asset-url('media-repeat-alt.png');
}
.clear_adjacent * {
  background-image: asset-url('blowup.png');
}
.mark_square * {
  background-image: asset-url('bomb.png');
}
.unmark_square * {
  background-image: asset-url('nobomb.png');
}

#template {
  display: none;
}

#boom {
  font-size: 100px;
  position: absolute;
  top: 300px;
  left: 100px;
}

#title {
  word-wrap: break-word;  
  @include happy-font;
  position: absolute;
  left: 44px;
  top: 160px;
  opacity: 0.3;
  
  width: 25px;
}