<!DOCTYPE html>
<html>
  <head>
    <title>Mine Sweeper</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'games/application' %>
    <%= javascript_include_tag 'games/application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
